@{
    ViewBag.Title = "Trang chủ";
}

@section style {
    
}

@section scripts {
    @Scripts.Render("~/Scripts/angular-sanitize.min.js",
        "~/Scripts/pages/home.js")
}

<script type="text/javascript">

    window.contentIds = {
        homePageContentId: "@SpecLab.FrontEnd.WebUtils.HomePageContentId",
    };
    
    window.getContentDetailUrl = "@Url.Action("GetContent", "ContentControl")";
</script>

<div id="mainContentDisplay" class="col-md-10" ng-app="myApp" ng-controller="HomeController">
    <div class="panel-group" id="collapseHomeContent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseHomeContent_Search">
                        Thông tin
                    </a>
                </h4>
            </div>
            <div id="collapseHomeContent_Search" class="panel-collapse collapse in">
                <div class="panel-body" ng-bind-html="homePageContent">
                </div>
            </div>
        </div>
    </div>
</div>